:root {
    --color1: #FEAE00;
    --color2: #FF42A1;
    --color3: #00A1FF;
    --color4: #60D937;
    --color5: #ED220D;
    --color6: #C3E0AA;
    --primary-font: 'Poppins', sans-serif;
    --baloo-font: 'Baloo Bhaijaan 2', cursive;
    --montserrat-font: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'fairy cakes';
    src: url('../fonts/Yearsupplyoffairycakes.woff2') format('woff2'),
        url('../fonts/Yearsupplyoffairycakes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--primary-font);
    background-image: url(../image/body-bg.png);
    background-color: var(--color2);
    background-size: 100%;
    background-position: center center;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.navbar-fixed {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: transparent;
    -webkit-transition: .5s;
    transition: .5s;
}

.navbar-fixed * {
    transition: all 0.3s ease-in-out;
}

.navbar-fixed.is-sticky {
    position: fixed;
    padding: 0;
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
    background-color: var(--color2);
}

.navbar-fixed.is-sticky .navbar-brand img {
    max-height: 60px;
}

nav.navbar {
    transition: all 0.25s linear 0.25s;
    transition: all 0.25s linear;
    padding: 0;
}

nav.navbar .navbar-nav .nav-item:first-child {
    margin-left: 0;
}

nav.navbar .navbar-nav>.nav-item {
    margin: 0 1rem;
}

nav.navbar a.navbar-brand {
    padding: 5px 0;
}

nav.navbar ul.navbar-nav li a {
    font-weight: 300;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    padding-bottom: 4px;
    font-size: 1.125rem;
    position: relative;
    cursor: pointer;
}

nav.navbar ul.navbar-nav li a::before {
    background: var(--bs-white);
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    -webkit-transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
    transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
}

nav.navbar .user {
    padding-right: 1.5rem;
    color: var(--bs-white);
    font-family: var(--baloo-font);
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
}

nav.navbar .user img {
    width: 38px;
    margin-right: 0.5rem;
}

@media screen and (min-width:992px) {
    nav.navbar ul.navbar-nav li:hover a:before {
        width: 100%;
        left: 0;
        right: auto;
    }
}

.btn-getquote {
    --bs-btn-color: var(--color2);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-width: 0px;
    --bs-btn-hover-color: var(--color2);
    --bs-btn-hover-bg: var(--bs-white);
    --bs-btn-active-color: var(--color2);
    --bs-btn-active-bg: var(--bs-white);
    --bs-btn-line-height: 1;
    --bs-btn-border-color: transparent;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-box-shadow: none;
    font-weight: 700;
    font-family: var(--montserrat-font);
}

.btn-getquote:hover {
    box-shadow: 1px 4px 3px 3px rgb(0 0 0 / 20%);
}

.app-home {
    padding: 5rem 0;
}

.app-home .intro {
    background-image: url(../image/intro-broder.png);
    display: inline-block;
    background-size: 100%;
    padding: 50px;
}

@media screen and (max-width:1366px) {
    .app-home {
        padding: 5rem 0 3rem;
    }

    .app-home .intro img {
        max-width: 80%;
    }
}

.app-category,
.app-chat {
    padding: 7rem 0 3rem;
}

.app-chat {
    padding-top: 3rem;
}

.app-category--wrapper,
.app-chat--wrapper,
.app-draw--wrapper {
    background-color: var(--color6);
    border-radius: 40px;
    padding: 30px 60px 10px;
}

.app-chat--wrapper {
    background-color: rgba(255, 255, 255, 0.95);
}

.app-draw--wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding: 60px 40px;
}

.category-list {
    margin-bottom: 3rem;
}

.category-list a {
    display: inline-block;
    padding: 0.5rem 2.25rem 0.25rem;
    color: var(--bs-white);
    font-family: var(--baloo-font);
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    border-radius: 52px;
}

.relax {
    background-color: var(--color3);
}

.smile {
    background-color: var(--color4);
}

.laugh {
    background-color: var(--color5);
}

.explore {
    background-color: var(--color2);
}

.cat-heading {
    font-size: 4rem;
    line-height: 1.35;
    text-transform: uppercase;
    font-family: 'fairy cakes';
    color: var(--color2);
    margin-bottom: 2rem;
}

.cat-card .card {
    --bs-card-border-radius: 30px;
    --bs-card-inner-border-radius: 30px;
    --bs-card-border-width: 0px;
    margin-bottom: 4rem;
    box-shadow: -5px 8px 9px rgb(0 0 0 / 16%);
}

.cat-card .card .card-body {
    border-radius: 0 0 30px 30px;
}

.cat-card .card.explore-card {
    --bs-card-cap-bg: var(--color2);
}

.cat-card .card.laugh-card {
    --bs-card-cap-bg: var(--color5);
}

.cat-card .card.smile-card {
    --bs-card-cap-bg: var(--color4);
}

.cat-card .card.relax-card {
    --bs-card-cap-bg: var(--color3);
}

.cat-card .card.relax-card .card-body {
    background-color: #edc70a;
}

.cat-card .card .card-header {
    font-family: var(--baloo-font);
    font-weight: 700;
    color: var(--bs-white);
    font-size: 2rem;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 15px;
}

.list-item {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--baloo-font);
}

.list-item figure img:first-child {
    position: relative;
    z-index: 2;
}

.list-item figure img:last-child {
    top: 3px;
    left: 0;
    z-index: 1;
}

.list-item figcaption {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--color2);
    font-size: 1.25rem;
}

.back-btn {
    margin-bottom: 10px;
    display: inline-block;
}

.back-btn img {
    max-height: 50px;
}

.video-page {
    background-color: #F85126;
}

.video-page .list-item {
    margin-bottom: 1.25rem;
}

/* chat */
.app-chat--wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 30px 0;
    position: relative;
    height: 80vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.app-chat--wrapper::-webkit-scrollbar {
    width: 0 !important;
}

.app-chat--wrapper .chat-content {
    position: relative;
    margin-bottom: 50px;
}

.message-wrapper {
    position: relative;
    display: grid;
}

.message-wrapper img.profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
}

.message-wrapper img.profile-pic.left {
    left: 0;
}

.message-wrapper img.profile-pic.right {
    right: 0;
}

.message-wrapper .chat-bubble.left,
.message-wrapper .options {
    margin-left: 80px;
}

.message-wrapper .chat-bubble.right {
    margin-right: 80px;
}

.message-wrapper .chat-bubble {
    background-color: var(--color2);
    color: var(--bs-white);
    margin-bottom: 0.5rem;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 1.125rem;
    flex: 0 0 50%;
    max-width: 50%;
}

.message-wrapper .chat-bubble.left {
    border-top-left-radius: 3px;
    margin-right: auto;
}

.message-wrapper .chat-bubble.right {
    border-bottom-right-radius: 3px;
    margin-left: auto;
}

.message-wrapper .chat-bubble.img,
.message-wrapper .chat-bubble.video {
    background-color: transparent;
    padding: 0;
}

.message-wrapper .chat-bubble.img img {
    width: 80px;
    height: 80px;
}

.message-wrapper .options {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 8px;
    max-width: 450px;
}

.message-wrapper .options label {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.message-wrapper .options label input[type="radio"] {
    position: absolute;
    z-index: -1;
}

.message-wrapper .options label span {
    border-radius: 12px;
    position: relative;
    z-index: 1;
    padding: 6px 12px;
    line-height: 1;
    display: inline-block;
    border: 2px solid var(--color2);
}

.message-wrapper .options label input[type="radio"]:checked+span {
    background-color: var(--color2);
    color: var(--bs-white);
}

.message-wrapper .options img {
    width: 70px;
    height: 70px;
}

.message-wrapper .options.answers label {
    font-size: 18px;
}

.message-wrapper .options.answers label span {
    padding: 8px 40px;
    min-width: 100px;
}

.message-wrapper .options.answers label span.yes,
.message-wrapper .options.answers label input:checked+span.yes {
    border-color: var(--color4);
    background-color: var(--color4);
    color: #fff;
}

.message-wrapper .options.answers label span.no,
.message-wrapper .options.answers label input:checked+span.no {
    background-color: var(--color5);
    border-color: var(--color5);
    color: #fff;
}

.message-wrapper .chat-bubble.video .video-list {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 1rem;
    column-gap: 1rem;
}

.message-wrapper .chat-bubble.video .video-list figure {
    margin: 0;
}

.message-wrapper .chat-bubble.video .video-list .video-banner {
    display: block;
    position: relative;
    overflow: hidden;
}

.message-wrapper .chat-bubble.video .video-list .video-banner img:first-child {
    position: relative;
    z-index: 2;
}

.message-wrapper .chat-bubble.video .video-list .video-banner img:last-child {
    left: 0;
    top: 0;
    z-index: 1;
}

.mfp-iframe-scaler .mfp-bottom-bar {
    margin-top: 16px;
}

button.load-more {
    max-width: 130px;
    display: inline-block;
    padding: 0.625rem 1rem;
    text-align: center;
    font-weight: 700;
    border-radius: 1.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--color2);
    color: var(--bs-white);
    transition: all 0.2s ease-out 0.05s;
    border: 0px;
    margin-left: 80px;
    font-size: 14px;
    margin-bottom: 1rem;
}

#sketchpad {
    margin: auto;
    width: 100%;
    min-height: 500px;
    height: 80vh;
    background-repeat: repeat;
    z-index: 2;
}

#sketchpad img[title='The Chunkos'] {
    opacity: 0.4;
    max-height: 60px;
}

.tool-bar {
    background-color: #fff;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    padding: 14px 0;
    width: 72px;
    filter: drop-shadow(0 1px 3px rgba(60, 64, 67, 0.3)) drop-shadow(0 4px 8px rgba(60, 64, 67, 0.15));
    border-radius: 0px 8px 8px 0px;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    margin-top: 30px;
}

#tool-option-button {
    background-color: #fff;
    outline: 0;
    border: 0;
    padding: 0;
}

.tool-option-button-light-body {
    fill: #bdc1c6;
}

.tool-option-button-dark-body {
    fill: #9aa0a6;
}

.tool-option-button-stroke-color {
    fill: var(--tool-color);
}

.tool-option-button-stroke-outline {
    fill: rgba(0, 0, 0, 0.082);
}

#tool-option-button>svg {
    height: 40px;
    width: 40px;
}

.color-swatch {
    width: 32px;
    height: 32px;
    background-color: var(--tool-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.14);
    cursor: pointer;
    margin: 5px 0;
}

.color-swatch+.dropdown-menu,
.option-button+.dropdown-menu {
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0;
}

@media screen and (min-width:992px) {

    .color-swatch+.dropdown-menu.show,
    .option-button+.dropdown-menu.show {
        transform: translate(65px, -10px) !important;
    }
}


.color-swatch::after,
.option-butto::after {
    content: none;
}

.swatches {
    --grid-cell-size: 48px;
    --color-size: 24px;
    display: grid;
    padding: 1rem;
    grid-auto-rows: var(--grid-cell-size);
    grid-template-columns: repeat(6, var(--grid-cell-size));
}


label.color-item {
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: var(--grid-cell-size);
    justify-content: center;
    position: relative;
    width: var(--grid-cell-size);
}

label.color-item input:checked {
    --color-size: 36px;
}

label.color-item input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: calc(var(--color-size) * 0.5);
    cursor: pointer;
    height: var(--color-size);
    line-height: 0;
    margin: 0;
    width: var(--color-size);
}

input[value="#ffffff"] {
    border: 1px solid #e8eaed;
}

.button-set,
.button-action {
    background-color: transparent;
    border: 0;
    display: block;
    outline: none;
    color: #9E9E9E;
    height: 35px;
    margin: 3px 0;
}

#stroke {
    margin: 10px 0 14px 0;
    width: 48px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.14);
}

.button-set>svg,
.button-action>svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    stroke-width: 2px;
}

.button-set:hover,
.button-set.active,
.button-action:hover {
    color: #000;
}

.controls {
    padding: 1rem;
}

.controls .column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.controls label {
    display: flex;
    column-gap: 8px;
    min-width: 190px;
}

.controls label span {
    flex: 0 0 60px;
    font-size: 14px;
}

@media screen and (max-width:991px) {
    .tool-bar {
        position: relative;
        top: 0;
        transform: translate(0, 0);
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 400px;
        flex: 0 0 100%;
        border-radius: 8px;
        margin-bottom: 1rem;
        column-gap: 5px;
        row-gap: 8px;
        padding: 12px 10px;
    }

    .tool-bar>.dropdown,
    .button-set,
    .button-action {
        max-width: 50px;
        flex: 0 0 100%;
        text-align: center;
        height: 50px;
        margin: 0;
        position: relative;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-set::after,
    .button-action::after,
    .tool-bar>.dropdown::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid rgba(0, 0, 0, 0.14);
        z-index: -1;
    }

    .button-action:last-child {
        border-right: 0;
    }

    #stroke {
        display: none;
    }

    .app-draw--wrapper {
        padding: 0 !important;
    }

    .app-drawing {
        padding-top: 60px;
    }

    #sketchpad {
        height: 65vh;
    }
}

/* footer */
.app-footer {
    background-color: var(--color4);
    color: var(--bs-white);
    padding: 1.5rem 0;
}

.footer-link {
    padding-top: 2.5rem;
}

.footer-link ul {
    margin-bottom: 0;
}

.footer-link .footer-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.125rem;
}

.footer-link li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.footer-link a {
    color: #FFFFFF;
    position: relative;
    padding-bottom: 2px;
}

.footer-link a::before {
    background: var(--bs-white);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 1px;
    width: 0;
    -webkit-transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
    transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
}

.footer-link a:hover::before {
    width: 100%;
}

.video-popup {
    cursor: pointer;
}

/* responsive code */
@media screen and (max-width:991px) {
    nav.navbar.dark-header {
        background-color: var(--color2);
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler {
        color: #fff;
        width: 36px;
        height: 36px;
        padding: 0;
        margin: 0;
        outline: 0;
        position: relative;
        border: 0px;
        cursor: pointer;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar-toggler svg {
        width: 44px;
        height: 48px;
        top: -6px;
        left: -4px;
        stroke: currentColor;
        stroke-width: .2rem;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        display: block;
        position: absolute;
    }

    .navbar-toggler svg path {
        -webkit-transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
        transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
        stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
        stroke-dashoffset: var(--offset, 126px);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .navbar-toggler path:nth-child(2) {
        --duration: .7s;
        --easing: ease-in;
        --offset: 100px;
        --array-2: 74px;
    }

    .navbar-toggler path:nth-child(3) {
        --offset: 133px;
        --array-2: 107px;
    }

    .navbar-toggler[aria-expanded="true"] svg path {
        --offset: 57px;
    }

    .navbar-toggler[aria-expanded="true"] svg path:nth-child(1),
    .navbar-toggler[aria-expanded="true"] svg path:nth-child(3) {
        --delay: .15s;
        --easing: cubic-bezier(0.2, .4, .2, 1.1);
    }

    .navbar-toggler[aria-expanded="true"] svg path:nth-child(2) {
        --duration: .4s;
        --offset: 2px;
        --array-1: 1px;
    }

    .navbar-toggler[aria-expanded="true"] svg path:nth-child(3) {
        --offset: 58px;
    }

    .navbar-fixed.navbar-light.navbar-expand-lg .navbar-nav {
        padding-top: 5px;
        padding-bottom: 10px;
        margin-top: 12px;
    }

    .navbar-fixed.navbar-light .navbar-nav .nav-item {
        padding: 5px 0px 0;
    }

    nav.navbar .navbar-nav>.nav-item {
        margin: 0.5rem 0 0;
    }

    nav.navbar .btn-getquote {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:767px) {
    nav.navbar .navbar-brand img {
        max-height: 60px;
    }

    nav.navbar ul.navbar-nav li a {
        font-size: 1rem;
        padding-bottom: 0;
    }

    .btn-getquote {
        --bs-btn-font-size: 1.125rem;
    }

    .footer-link {
        padding-top: 1.5rem;
    }

    .footer-link .footer-title {
        margin-bottom: 0.875rem;
        font-size: calc(1.125rem + .3vw);
    }

    .footer-about .footer-content p,
    .footer-link a {
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .category-list {
        margin-bottom: 2rem;
    }

    .category-list a {
        font-size: calc(1.5rem + .3vw);
        display: block;
        margin-bottom: 1rem;
    }

    .app-category--wrapper {
        padding: 30px 15px 10px;
        border-radius: 20px;
    }

    .cat-heading {
        font-size: calc(1.5rem + 1.5vw);
    }

    .cat-card .card {
        margin-bottom: 30px;
    }

    .cat-card .card .card-header {
        font-size: calc(1.25rem + .3vw);
        padding-top: 12px;
        padding-bottom: 8px;
    }

    .cat-card .card {
        --bs-card-inner-border-radius: 20px;
    }

    .cat-card .card .card-body {
        border-radius: 0 0 20px 20px;
    }

    .app-home .intro {
        padding: 15px;
    }

    .app-home .intro img {
        max-width: 100%;
    }

    .app-chat--wrapper {
        padding: 10px 10px 0;
    }

    .message-wrapper:not(.option-wrapper) {
        margin-top: 0.5rem;
    }

    .message-wrapper.option-wrapper {
        padding-bottom: 0.25rem;
    }

    .message-wrapper .chat-bubble.img img {
        width: 60px;
        height: 60px;
    }

    .message-wrapper .chat-bubble {
        font-size: 0.875rem;
        flex: 0 0 100%;
        max-width: 1000%;
        padding: 5px 16px;
    }

    .message-wrapper .options label span {
        padding: 4px 8px;
    }

    .message-wrapper img.profile-pic {
        width: 40px;
        height: 40px;
    }

    .message-wrapper .chat-bubble.left,
    .message-wrapper .options {
        margin-left: 50px;
    }

    .message-wrapper .chat-bubble.right {
        margin-right: 50px;
    }

    .app-chat--wrapper .chat-content {
        margin-bottom: 20px;
    }

    .message-wrapper .options img,
    .message-wrapper .chat-bubble.img img {
        width: 45px;
        height: 45px;
    }

    .message-wrapper .options.answers label {
        font-size: 0.875rem;
    }

    .message-wrapper .options.answers label span {
        min-width: auto;
        padding: 6px 12px;
    }

    .message-wrapper .options {
        column-gap: 8px;
        row-gap: 8px;
    }

    .message-wrapper .chat-bubble.video .video-list {
        grid-template-columns: auto auto;
        column-gap: 8px;
        row-gap: 8px;
    }
}

@media screen and (max-width:500px) {
    .loggedIn {
        flex-direction: row;
        flex-basis: auto;
        margin-left: auto;
        display: flex;
        justify-content: end;
    }

    nav.navbar .user {
        font-size: 1rem;
    }

    nav.navbar .user img {
        width: 28px;
    }

    nav.navbar .loggedIn .btn-getquote {
        margin-bottom: 0;
        font-size: 1rem;
        --bs-btn-padding-x: 0.75rem
    }
}